
Django==4.2.1
django-cors-headers==3.14.0
djangorestframework==3.14.0
joblib==1.2.0
jsonfile==1.0.1
jsonschema==4.17.0
multitasking==0.0.11
outcome==1.2.0
packaging==23.1
paho-mqtt==1.6.1
pandas==1.5.3
pandocfilters==1.5.0
parse==1.19.0
pipenv==2022.10.25
pipreqs==0.4.13
psutil==5.9.3
psycopg2==2.9.9
scikit-fuzzy==0.4.2
scikit-image==0.19.3
scikit-learn==1.2.1
scikit-fuzzy
numpy
wcwidth==0.2.5
weathercom==1.0.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
matplotlib

